body {
  background: #2e856e;
}
.search {
  width: 40%;
  position: relative;
}
.searchInput {
  border:0.1rem solid transparent;
  border-radius: 0.1rem;
  font-size: 2rem;
}
.searchInput:focus {
  outline: none;
  font-size:2.5rem;
  border-radius: 0.2rem;
  padding: 1rem;
  border: 0.1rem solid #8abaae;
}
.searchSubmit {
  height: 100%;
  width: 3em;
  margin-top: -1.5em;
  position: absolute;
  top: 50%;
  right: 0.2rem;

  opacity: 0.2;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("https://icon-library.com/images/plant-icon/plant-icon-2.jpg");
}
.searchSubmit:hover {
  outline: none;
  opacity: 0.4;
  cursor: pointer;
}
.searchSubmit:focus {
  outline: none;
  opacity: 0.9;
}

ul.suggestions {
  display: block;
  list-style: none;
  width: 40%;
}

ul.suggestions li {
  display: block;
}

ul.suggestions li:hover {
  cursor: pointer;
  transition: 0.3s all;
}

ul.suggestions li.option-active {
  font-size: 1.5rem;
}
