.preview {
  display:flex;
  flex-direction: row;
  padding: 1rem;
}

.photo {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  width: 32px;
  background: center/contain no-repeat;
}

.text {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.common {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: auto;
  align-items: center;
  word-break: break-all;
}

.scientific{
  line-height: 12px;
  color: #80868b;
  margin-top: 2px;
}
